*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding: 30px;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.photos{
    position: relative;
    float: left;
    width: 32%;
    margin-right: 10px;
    margin-bottom: 50px;

}

.photo-container{
    height: 516px;
}


img{
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 30px;
    background-color: white;
    inline-size: 20px;
}

.sale, .special, .special-last{
    font-weight: bold;
    color: white;
}

.sale{
    position: absolute;
    bottom: 104px;
    padding: 2px;
    margin-right: 5px;
    background-color: #eb0037;
}

.special{
    position: absolute;
    bottom: 104px;
    left: 46px;
    padding: 2px;
    background-color: #00875a;

}

.special-last{
    position: absolute;
    bottom: 104px;
    padding: 2px;
    background-color: #00875a;

}

.brand{
    font-size: 13px;
}

.outfit-name{
    font-size: 15px;
}

.price{
    color: red;
    font-weight: bold;
    
}

.old-price{
    text-decoration: line-through;
}

.second{
    display: none;
}

.photo-container:hover .second, .photo-container:active .second{
    cursor: pointer;
    display: block;
}

.photo-container:hover .first, .photo-container:active .first{
    cursor: pointer;
    display: none;
}

